<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filez R Us | Success</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid !direction !spacing">
        <p><h1>One stop shop for success! Your file was uploaded.</h1></p>
        <p><h2>Your file was uploaded successfully!</h2></p>
        <p><h1>IMPORTANT INFO:</h1></p>
        <li>File Name (IMPORTANT FOR SHARING)</li>
        <pre><%= filename %></pre>

        <p><h2>How to share file</h2></p>
        <p><h4>To share the file, copy the File Name (found above) and send it to someone. They can come on the website and download the file by entering the File Name in and then pressing 'Download' on the Home Page</h4></p>

        <p><h1>To confirm you have read this, please scroll all the way down to find the return button OR hit the Back button on your browser.</h1></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/" class="btn btn-dark">Return</a>
    </div>
</body>
</html>